* {
  box-sizing: border-box;
}

.navbar {
  background-color: lightgray;
  display: flex;
  gap: 12px;
  align-items: center;
  padding-left: 24px;
}

.notification {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.success {
  border: 2px solid green;
  color: green;
  background-color: gainsboro;
}

.error {
  border: 2px solid red;
  color: red;
  background-color: gainsboro;
}

.remove-btn {
  background-color: #f91512;
  padding: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.remove-btn:hover {
  background-color: #af1512;
}

.justify-content-end {
  display: flex;
  justify-content: end;
  gap: 32px;
}
